@charset "UTF-8";
.fw_seminar_schedule .p-schedule {
  background: #e5eef7 !important;
  width: 1280px;
  margin: 0 -190px;
}

.fw_seminar_schedule .p-schedule__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.fw_seminar_schedule .p-schedule__title {
  font-size: 36px;
  text-align: center;
  color: #005bac;
  font-weight: bold;
  margin-bottom: 20px;
}

.fw_seminar_schedule .p-schedule__subtitle {
  font-size: 24px;
  text-align: center;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__box {
  border: 3px solid #005bac;
  margin-top: 40px;
}

.fw_seminar_schedule .p-schedule__box__title {
  color: #fff;
  background-color: #005bac;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.fw_seminar_schedule .p-schedule__box__data {
  background-color: #fff;
  padding: 30px;
}

.fw_seminar_schedule .p-schedule__highlight-text {
  font-size: 20px;
  font-weight: bold;
  color: #005bac;
  text-align: center;
}

.fw_seminar_schedule .p-schedule__highlight-text span {
  background-color: #ffff00;
}

.fw_seminar_schedule .p-schedule__teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 30px;
}

.fw_seminar_schedule .p-schedule__teacher__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
}

.fw_seminar_schedule .p-schedule__teacher__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__teacher__title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #005bac;
}

.fw_seminar_schedule .p-schedule__teacher__name {
  font-size: 18px;
}

.fw_seminar_schedule .p-schedule__teacher__status-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw_seminar_schedule .p-schedule__teacher__status-item {
  display: inline-block;
  font-size: 12px;
}

.fw_seminar_schedule .p-schedule__teacher__status-item::before {
  content: '【';
}

.fw_seminar_schedule .p-schedule__teacher__status-item::after {
  content: '】';
}

.fw_seminar_schedule .p-schedule__teacher__introduction {
  border-top: 2px dotted #005bac;
  border-bottom: 2px dotted #005bac;
  font-size: 12px;
  line-height: 1.8;
  padding: 10px 0;
  margin: 10px 0 20px;
}

.fw_seminar_schedule .p-schedule__teacher__others-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__teacher__others-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__title {
  background-color: #e5eef7;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__text {
  font-size: 12px;
  line-height: 1.8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  padding-right: 20px;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__image--tv {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
}

.fw_seminar_schedule .p-schedule__message {
  border: 3px solid #A40000;
  padding: 20px;
  font-size: 16px;
  color: #A40000;
  text-align: center;
  margin: 30px 0;
}

.fw_seminar_schedule .p-schedule__talk {
  background-color: #e5eef7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__talk__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fw_seminar_schedule .p-schedule__talk__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  padding: 0 20px;
}

.fw_seminar_schedule .p-schedule__talk__title {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__talk__description {
  font-size: 14px;
  color: #A40000;
  border: 2px solid #A40000;
  padding: 10px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .fw_seminar_schedule .p-schedule {
    width: auto;
  }
  .fw_seminar_schedule .p-schedule {
    margin: 0;
  }
  .fw_seminar_schedule .p-schedule__inner {
    margin: 0 20px;
  }
  .fw_seminar_schedule .p-schedule__box__data {
    padding: 15px;
  }
  .fw_seminar_schedule .p-schedule__teacher__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 30px 30px;
  }
  .fw_seminar_schedule .p-schedule__teacher__text {
    padding-left: 0;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__text {
    font-size: 11px;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
    padding-right: 0;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--tv {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  .fw_seminar_schedule .p-schedule__message br {
    display: none;
  }
  .fw_seminar_schedule .p-schedule__talk__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
  .fw_seminar_schedule .p-schedule__talk__text {
    padding: 20px;
  }
  .fw_seminar_schedule .p-schedule__talk__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
