@charset "UTF-8";
.fw#form header {
  height: auto !important;
  padding: 10px 0;
}

.fw .p-schedule__header__inner.inner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw .p-schedule__header__inner.inner figure#logo {
  width: auto;
  float: none;
}

.fw .p-schedule__header__inner.inner::after {
  display: none !important;
}

.fw .p-schedule__header__logo-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

.fw a.p-schedule__header__tel-button {
  padding: 15px 20px 10px;
  border-radius: 250px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+47,ff7c00+51,ff7f04+100 */
  background: #ffb76b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb76b), color-stop(47%, #ffa73d), color-stop(51%, #ff7c00), to(#ff7f04));
  background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 47%, #ff7c00 51%, #ff7f04 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -4px 5px -2px #E27100 inset, 0 2px 6px 3px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -4px 5px -2px #E27100 inset, 0 2px 6px 3px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.fw a.p-schedule__header__tel-button:hover {
  opacity: .8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.fw a.p-schedule__header__tel-button > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fw a.p-schedule__header__tel-button .reception-hours {
  margin-right: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.fw a.p-schedule__header__tel-button .reception-hours span {
  display: block;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
}

.fw a.p-schedule__header__tel-button .reception-hours span.lead {
  font-size: 14px;
}

.fw a.p-schedule__header__tel-button .reception-hours span.time {
  font-size: 12px;
}

.fw a.p-schedule__header__tel-button .tel-number {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.fw a.p-schedule__header__tel-button ruby > rt {
  font-size: 11px;
}

.fw_seminar_schedule .p-schedule {
  background: #e5eef7 !important;
  width: 1280px;
  margin: 0 -190px;
}

.fw_seminar_schedule .p-schedule__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.fw_seminar_schedule .p-schedule__title {
  font-size: 36px;
  text-align: center;
  color: #005bac;
  font-weight: bold;
  margin-bottom: 20px;
}

.fw_seminar_schedule .p-schedule__subtitle {
  font-size: 24px;
  text-align: center;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__box {
  border: 3px solid #005bac;
  margin-top: 40px;
}

.fw_seminar_schedule .p-schedule__box__title {
  color: #fff;
  background-color: #005bac;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.fw_seminar_schedule .p-schedule__box__data {
  background-color: #fff;
  padding: 30px;
}

.fw_seminar_schedule .p-schedule__highlight-text {
  font-size: 20px;
  font-weight: bold;
  color: #005bac;
  text-align: center;
}

.fw_seminar_schedule .p-schedule__highlight-text span {
  background-color: #ffff00;
}

.fw_seminar_schedule .p-schedule__teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 30px;
}

.fw_seminar_schedule .p-schedule__teacher__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
}

.fw_seminar_schedule .p-schedule__teacher__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__teacher__title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #005bac;
}

.fw_seminar_schedule .p-schedule__teacher__name {
  font-size: 18px;
}

.fw_seminar_schedule .p-schedule__teacher__status-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw_seminar_schedule .p-schedule__teacher__status-item {
  display: inline-block;
  font-size: 12px;
}

.fw_seminar_schedule .p-schedule__teacher__status-item::before {
  content: '【';
}

.fw_seminar_schedule .p-schedule__teacher__status-item::after {
  content: '】';
}

.fw_seminar_schedule .p-schedule__teacher__introduction {
  border-top: 2px dotted #005bac;
  border-bottom: 2px dotted #005bac;
  font-size: 12px;
  line-height: 1.8;
  padding: 10px 0;
  margin: 10px 0 20px;
}

.fw_seminar_schedule .p-schedule__teacher__others-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__teacher__others-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__title {
  background-color: #e5eef7;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__text {
  font-size: 12px;
  line-height: 1.8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  padding-right: 20px;
}

.fw_seminar_schedule .p-schedule__teacher__others-item__box__image--tv {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
}

.fw_seminar_schedule .p-schedule__message {
  border: 3px solid #A40000;
  padding: 20px;
  font-size: 16px;
  color: #A40000;
  text-align: center;
  margin: 30px 0;
}

.fw_seminar_schedule .p-schedule__talk {
  background-color: #e5eef7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__talk__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fw_seminar_schedule .p-schedule__talk__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  padding: 0 20px;
}

.fw_seminar_schedule .p-schedule__talk__title {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__talk__description {
  font-size: 14px;
  color: #A40000;
  border: 2px solid #A40000;
  padding: 10px;
  line-height: 1.8;
}

.fw_seminar_schedule .p-schedule__request {
  margin: 40px 0 60px;
}

.fw_seminar_schedule .p-schedule__request__text {
  font-size: 18px;
  text-align: center;
  color: #005bac;
  font-weight: bold;
}

.fw_seminar_schedule .p-schedule__info {
  border: 3px solid #005bac;
  background-color: #fff;
  position: relative;
  position: relative;
}

.fw_seminar_schedule .p-schedule__info__inner {
  padding: 30px;
}

.fw_seminar_schedule .p-schedule__info__title-bar {
  font-size: 18px;
  color: #fff;
  background-color: #005bac;
  text-align: center;
  padding: 8px 0;
}

.fw_seminar_schedule .p-schedule__info__message {
  background-color: #e5eef7;
  color: #005bac;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.6;
}

.fw_seminar_schedule .p-schedule__info__message .red {
  color: red;
  font-size: 16px;
}

.fw_seminar_schedule .p-schedule__info:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

.fw_seminar_schedule .p-schedule__info:before {
  margin-left: -60px;
  left: 50%;
  bottom: -40px;
  border-top: 40px solid #005bac;
  border-right: 60px solid transparent !important;
  border-left: 60px solid transparent !important;
}

.fw_seminar_schedule .p-schedule__info::before {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.fw_seminar_schedule .p-schedule__access {
  background-color: #e5eef7;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fw_seminar_schedule .p-schedule__access__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  background-color: #504f4f;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw_seminar_schedule .p-schedule__access__data {
  padding-left: 20px;
  padding-top: 0;
  color: #005bac;
}

.fw_seminar_schedule .p-schedule__access__address {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.fw_seminar_schedule .p-schedule__access__guide {
  font-size: 16px;
  line-height: 1.6;
}

.fw_seminar_schedule .p-schedule__button {
  margin-top: 30px;
  text-align: center;
}

.fw_seminar_schedule .p-schedule__button a {
  display: block;
  margin: 0 auto;
  background-color: #005bac;
  color: #fff;
  font-size: 20px;
  padding: 25px 0;
  line-height: 1;
  max-width: 500px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #a6c3d6;
          box-shadow: 0 3px 0 #a6c3d6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fw_seminar_schedule .p-schedule__button a:hover {
  opacity: .7;
}

.fw_seminar_schedule .p-schedule__button--orange a {
  background-color: #eb6100;
}

@media screen and (max-width: 768px) {
  .fw .p-schedule__header__inner.inner figure#logo {
    width: 100% !important;
  }
  .fw .p-schedule__header__logo-link {
    margin-right: 20px;
  }
  .fw .p-schedule__header__logo-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24vw;
            flex: 0 0 24vw;
  }
  .fw a.p-schedule__header__tel-button {
    padding: 2vw 4vw 1.5vw;
  }
  .fw a.p-schedule__header__tel-button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .fw a.p-schedule__header__tel-button .reception-hours {
    margin-right: 10px;
  }
  .fw a.p-schedule__header__tel-button .reception-hours span.lead {
    font-size: 2.25vw;
  }
  .fw a.p-schedule__header__tel-button .reception-hours span.time {
    font-size: 2vw;
  }
  .fw a.p-schedule__header__tel-button .tel-number {
    font-size: 3.5vw;
  }
  .fw a.p-schedule__header__tel-button ruby > rt {
    font-size: 1.4vw;
  }
  .fw_seminar_schedule .p-schedule {
    width: auto;
  }
  .fw_seminar_schedule .p-schedule {
    margin: 0;
  }
  .fw_seminar_schedule .p-schedule__inner {
    margin: 0 20px;
  }
  .fw_seminar_schedule .p-schedule__box__data {
    padding: 15px;
  }
  .fw_seminar_schedule .p-schedule__teacher__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 30px 30px;
  }
  .fw_seminar_schedule .p-schedule__teacher__text {
    padding-left: 0;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__text {
    font-size: 11px;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
    padding-right: 0;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--book {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .fw_seminar_schedule .p-schedule__teacher__others-item__box__image--tv {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  .fw_seminar_schedule .p-schedule__message br {
    display: none;
  }
  .fw_seminar_schedule .p-schedule__talk__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
  .fw_seminar_schedule .p-schedule__talk__text {
    padding: 20px 0;
  }
  .fw_seminar_schedule .p-schedule__talk__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .fw_seminar_schedule .p-schedule__talk__description {
    font-size: 12px;
  }
  .fw_seminar_schedule .p-schedule__request {
    margin: 40px 0;
  }
  .fw_seminar_schedule .p-schedule__request__text {
    font-size: 16px;
  }
  .fw_seminar_schedule .p-schedule__request__text {
    text-align: left;
  }
  .fw_seminar_schedule .p-schedule__info__inner {
    padding: 20px;
  }
  .fw_seminar_schedule .p-schedule__info__title-bar {
    font-size: 16px;
  }
  .fw_seminar_schedule .p-schedule__info__message {
    font-size: 16px;
  }
  .fw_seminar_schedule .p-schedule__info__message {
    text-align: left;
  }
  .fw_seminar_schedule .p-schedule__info__message .red {
    font-size: 14px;
  }
  .fw_seminar_schedule .p-schedule__access {
    padding: 20px;
  }
  .fw_seminar_schedule .p-schedule__access__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .fw_seminar_schedule .p-schedule__access__data {
    padding-left: 0;
  }
  .fw_seminar_schedule .p-schedule__access__data {
    padding-top: 10px;
  }
  .fw_seminar_schedule .p-schedule__access__address {
    font-size: 16px;
  }
  .fw_seminar_schedule .p-schedule__access__guide {
    font-size: 12px;
  }
  .fw_seminar_schedule .p-schedule__button {
    margin-top: 20px;
  }
  .fw_seminar_schedule .p-schedule__button a {
    font-size: 16px;
  }
  .fw_seminar_schedule .p-schedule__button a {
    padding: 20px 0;
  }
}
