@charset "utf-8";

.fw {
  .p-schedule {

    &__header {
      &__inner.inner {
          display: flex !important;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          figure#logo {
            width: auto;
            float: none;
            @include max(s) {
              width: 100% !important;
            }
          }
          &::after {
            display: none !important;
          }
      }
      &__logo-link {
        flex: 1;
        @include max(s) {
          flex: 0 0 24vw;
        }
      }
      &__reception-hours {
          display: block;
          @include pr(20px, 0);
          span {
            display: block;
            line-height: 1.4;
            &.lead {
              @include fontSize(14px, 2.25vw);
            }
            &.time {
              @include fontSize(12px, 2vw);
            }
          }

      }
      &__tel-button {

        &__sp {

            display: block;

            a {
              display: inline-block;
              @include pd(20px 20px 15px, 2vw 4vw 1.5vw);
              border-radius: 250px;
              text-decoration: none;
              color: #FFF;
              background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
              transition: .4s;
              @include fontSize(24px, 3.2vw);
              font-weight: bold;
              &:hover {
                background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
              }

              ruby {
                > rt {
                  @include fontSize(11px, 1.4vw);
                }
              }
            }

        }
      }
    }
  }
}
.fw_seminar_schedule {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------
  .p-schedule {
    background: $color_background !important;
    @include width(1280px, auto);
    @include mg(0 -190px, 0);
    &__inner {
      max-width: 900px;
      @include mg(0 auto, 0 20px);
      @include pd(50px 0);
    }

    &__title {
      @include fontSize(36px);
      text-align: center;
      color: $color_main;
      font-weight: bold;
      @include mb(20px);
    }

    &__subtitle {
      @include fontSize(24px);
      text-align: center;
      color: $color_main;
    }

    &__box {
      border: 3px solid $color_main;
      @include mt(40px);
      
      &__title {
        color: #fff;
        background-color: $color_main;
        text-align: center;
        @include fontSize(20px);
        @include pd(10px 0);
      }

      &__data {
        background-color: #fff;
        @include pd(30px, 15px);
      }
    }

    &__highlight-text {
      @include fontSize(20px);
      font-weight: bold;
      color: $color_main;
      text-align: center;
      
      span {
        background-color: #ffff00;
      }
    }

    &__teacher {
      @include flexBase( $wrap: "wrap", $direction: "row", $justify: "flex-start", $align: "stretch" );
      @include mt(30px);

      &__photo {
        flex: 0 0 290px;
        @include max(s) {
          flex: 0 0 100%;
          padding: 0 30px 30px;
        }
      }

      &__text {
        flex: 1;
        @include pl(20px, 0);
        color: $color_main;
      }

      &__title {
        @include fontSize(20px);
        @include pb(10px);
        @include mb(10px);
        font-weight: bold;
        border-bottom: 1px solid $color_main;
      }

      &__name {
        @include fontSize(18px);
      }

      &__status-list {
        @include flexBase( $wrap: "wrap", $direction: "row", $justify: "flex-start", $align: "center" );
      }

      &__status-item {
        display: inline-block;
        @include fontSize(12px);
        &::before {
          content: '【';
        }
        &::after {
          content: '】';
        }
      }

      &__introduction {
        border-top: 2px dotted $color_main;
        border-bottom: 2px dotted $color_main;
        @include fontSize(12px);
        line-height: 1.8;
        @include pd(10px 0);
        @include mg(10px 0 20px);
      }

      &__others-list {
        @include flexBase( $wrap: "wrap", $direction: "row", $justify: "space-between", $align: "stretch" );
      }

      &__others-item {
        flex: 0 0 48%;

        &__title {
          background-color: $color_background;
          text-align: center;
          @include fontSize(12px);
          @include mb(10px);
        }

        &__box {
          @include flexBase( $wrap: "wrap", $direction: "row", $justify: "space-between", $align: "stretch" );

          &__text {
            @include fontSize(12px, 11px);
            line-height: 1.8;
            flex: 1;
          }

          &__image {
            &--book {
              flex: 0 0 80px;
              @include pr(20px, 0);
              @include max(s) {
                flex: 0 0 20%;
              }
            }
            &--tv {
              flex: 0 0 110px;
              @include max(s) {
                flex: 0 0 35%;
              }
            }
          }
        }
      }

    }

    // p-schedule__message
    &__message {
      border: 3px solid $red;
      @include pd(20px);
      @include fontSize(16px);
      color: $red;
      text-align: center;
      @include mg(30px 0);
      @include max(s) {
        br {
          display: none;
        }
      }
    }

    // p-schedule__talk
    &__talk {
      background-color: $color_background;
      @include pd(20px);
      @include flexBase( $wrap: "wrap", $direction: "row", $justify: "flex-start", $align: "stretch" );

      &__image {
        flex: 1;
        @include max(s) {
          flex: 0 0 100%;
          text-align: center;
        }
      }

      &__text {
        flex: 0 0 400px;
        @include pd(0 20px, 20px 0);
        @include max(s) {
          flex: 0 0 100%;
        }
      }

      &__title {
        @include fontSize(16px);
        @include mb(10px);
        text-align: center;
        color: $color_main;
      }

      &__description {
        @include fontSize(14px, 12px);
        color: $red;
        border: 2px solid $red;
        @include pd(10px);
        line-height: 1.8;
      }
    }

    // p-schedule__request
    &__request {
      @include mg(40px 0 60px, 40px 0);

      &__text {
        @include fontSize(18px, 16px);
        text-align: center;
        color: $color_main;
        font-weight: bold;

        @include max(s) {
          text-align: left;
        }
      }
    }

    // p-schedule__info
    &__info {
      border: 3px solid $color_main;
      background-color: #fff;
      position: relative;

      &__inner {
        @include pd(30px, 20px);
      }

      &__title-bar {
        @include fontSize(18px, 16px);
        color: #fff;
        background-color: $color_main;
        text-align: center;
        @include pd(8px 0);
      }

      &__message {
        background-color: $color_background;
        color: $color_main;
        @include fontSize(18px, 16px);
        @include pd(20px);
        @include mb(10px);
        text-align: center;
        line-height: 1.6;

        @include max(s) {
          text-align: left;
        }

        .red {
          color: red;
          @include fontSize(16px, 14px);
        }
      }

      @include triangle($color: $color_main, $width:120, $height:40, $direction:bottom);
      &::before {
        transform: translateY(-40%);
      }
    }

    // p-schedule__access
    &__access {
      background-color: $color_background;
      @include pd(30px, 20px);
      @include flexBase( $wrap: "wrap", $direction: "row", $justify: "flex-start", $align: "stretch" );

      &__title {
        flex: 0 0 100px;
        background-color: $black80;
        color: #fff;
        text-align: center;
        @include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );

        @include max(s) {
          flex: 0 0 100%;
        }
      }

      &__data {
        @include pl(20px, 0);
        @include pt(0, 10px);
        color: $color_main;
      }

      &__address {
        @include fontSize(20px, 16px);
        @include mb(10px);
        line-height: 1.6;
      }

      &__guide {
        @include fontSize(16px, 12px);
        line-height: 1.6;
      }
    }


    // p-schedule__button {
    &__button {
      @include mt(30px, 20px);
      text-align: center;
      a {
        display: block;
        @include mg(0 auto);
        background-color: $color_main;
        color: #fff;
        @include fontSize(20px, 16px);
        @include pd(25px 0, 20px 0);
        line-height: 1;
        max-width: 500px;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 3px 0 #a6c3d6;
        transition: 0.2s;
        &:hover {
          opacity: .7;
        }
      }

      &--orange {
        a {
          background-color: $color_sub;
        }
      }
    }

  } // p-schedule


}//.fw

